html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  background-color: #ffffff;
  background-position: 50% 90px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #4d5965;
  font-family: 'Roboto', sans-serif;
}
.ui-container {
  height: 100%;
  width: 100%;
}
.ui-container input[type=checkbox] {
  display: none;
}
/* COMMON COMPONENTS */
.moc-alert {
  border: 1px solid #4d5965;
  background-color: #a8b5c2;
  color: #4d5965;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  left: 0;
  top: -3px;
  width: 30px;
  height: 30px;
  background: #f8862c;
  border-radius: 50%;
  transition: background-color 0.2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 26px;
  height: 26px;
  transition: all .2s;
  border-radius: 50%;
  background: #ffffff;
  top: -1px;
  left: 2px;
}
/* on checked */
[type="checkbox"]:checked + label:before {
  background: #ffffff;
  border: 2px solid #f8862c;
}
[type="checkbox"]:checked + label:after {
  width: 20px;
  height: 20px;
  background: #4d5965;
  top: 2px;
  left: 5px;
}
[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 30px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  transition: all .2s;
}
[type="checkbox"]:not(:checked) + label .ui:before {
  left: 32px;
}
[type="checkbox"]:checked + label .ui:after {
  color: #39D2B4;
}
[type="checkbox"]:focus + label:before {
  border: 1px dashed #777;
  box-sizing: border-box;
  margin-top: -1px;
}
/* END OF COMMON COMPONENTS */
/* LANDING PAGE */
#moc-header {
  width: 100%;
  height: 150px;
  display: block;
  text-align: center;
  background-color: #4d5965;
}
#moc-header #top-line {
  width: 100%;
  height: 4px;
  background-color: #f8862c;
}
#moc-header #moc-logo {
  width: 167px;
  height: 167px;
  background-image: url("../images/logo.png");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 50px auto;
}
.moc-welcome-section {
  width: 100%;
  height: 480px;
  background-image: url("../images/bg_welcome.png");
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding: 140px 0;
}
.moc-welcome-section h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.moc-welcome-section h3 {
  text-transform: uppercase;
  font-size: 20px;
}
.moc-welcome-section .divider {
  width: 100px;
  height: 3px;
  background-color: #f8862c;
  margin: 0 auto;
}
.moc-welcome-section .slide-button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 65px auto 0;
  padding: 11px 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #f8862c;
  color: #f8862c;
}
.moc-welcome-section .slide-button span {
  -webkit-transition: all 1s;
  transition: all 1s;
}
.moc-welcome-section .slide-button:hover {
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  margin: 65px auto 0;
  padding: 11px 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #f8862c;
}
.moc-welcome-section .slide-button:hover span {
  color: #4d5965;
  -webkit-transform: rotateZ(360deg);
  /* Safari */
  transform: rotateZ(360deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.moc-register-section {
  padding: 40px 0;
}
.moc-register-section p {
  font-size: 19px;
  line-height: 2.0;
}
.moc-register-section p.checkbox {
  font-size: 14px;
  font-weight: bold;
}
.moc-register-section input[type="text"],
.moc-register-section input[type="password"] {
  color: #f8862c;
  font-size: 19px;
  height: 40px;
}
.moc-register-section input[type="text"]:focus,
.moc-register-section input[type="password"]:focus {
  -webkit-box-shadow: 0px 0px 5px 0px #f8862c;
  -moz-box-shadow: 0px 0px 5px 0px #f8862c;
  box-shadow: 0px 0px 5px 0px #f8862c;
  border: 1px solid #f7a86a;
}
.moc-register-section button {
  border: 2px solid #f8862c;
  color: #f8862c;
}
.moc-register-section button:hover {
  border: 2px solid #f8862c;
  background-color: #f8862c;
  color: #ffffff;
}
.moc-footer {
  width: 100%;
  height: 130px;
  padding: 40px;
  color: #647587;
  display: block;
  text-align: center;
  background-color: #4d5965;
}
/* END OF LANDING PAGE */
/* LOGIN & REGISTER SCREEN */
.moc-login-container {
  text-align: center;
}
.moc-login-container .moc-login-head {
  width: 138px;
  height: 136px;
  margin: 50px auto 30px;
  background-image: url("../images/identity.png");
}
.moc-login-container .moc-login {
  width: 410px;
  min-height: 100px;
  margin: 0 auto;
  padding: 30px 60px 50px 60px;
  background-color: #f8862c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 300;
}
.moc-login-container .moc-login .separator {
  margin: 0 auto;
}
.moc-login-container .moc-login .separator .divider {
  float: left;
  margin-top: 10px;
  background-color: #ffffff;
  height: 1px;
  width: 120px;
}
.moc-login-container .moc-login .separator span {
  float: left;
  margin: 0 10px 0 10px;
}
.moc-login-container .moc-login h3 {
  font-weight: 300;
  clear: both;
}
.moc-login-container .moc-login h3:last-of-type {
  margin-bottom: 40px;
}
.moc-login-container .moc-login .login-form span.register {
  color: #ffd2ae;
  text-align: left;
  float: left;
  cursor: pointer;
  padding-bottom: 10px;
}
.moc-login-container .moc-login .login-form button {
  width: 100%;
  background-color: #ffffff;
  color: #4d5965;
  text-transform: uppercase;
}
.moc-login-container .moc-login .login-form button,
.moc-login-container .moc-login .login-form input[type="text"],
.moc-login-container .moc-login .login-form input[type="password"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
}
.moc-login-container .moc-login .login-form input[type="text"],
.moc-login-container .moc-login .login-form input[type="password"] {
  box-shadow: none;
  background-color: #f7a86a;
  text-align: center;
  color: #ffffff;
}
.moc-login-container .moc-login .login-form input::-webkit-input-placeholder {
  color: #ffd2ae;
}
.moc-login-container .moc-login .login-form input:-moz-placeholder {
  color: #ffd2ae;
}
.moc-login-container .moc-login .login-form input::-moz-placeholder {
  color: #ffd2ae;
}
.moc-login-container .moc-login .login-form input:-ms-input-placeholder {
  color: #ffd2ae;
}
.moc-login-container .moc-login .login-form button:target,
.moc-login-container .moc-login .login-form input[type="text"]:focus,
.moc-login-container .moc-login .login-form input[type="password"]:focus {
  box-shadow: none;
  border: 1px solid #c66b23;
}
.moc-login-container .moc-login .login-form .moc-alert {
  background-color: #ffffff;
  border: 2px solid #c66b23;
  color: #4d5965;
}
/* END OF LOGIN & REGISTER SCREEN */
/* USER TEMPLATE */
.moc-navbar {
  height: 70px;
  background-color: #f8862c;
}
.moc-navbar .navbar-brand {
  padding: 8px 0;
}
.moc-navbar .navbar-header,
.moc-navbar .navbar-collapse {
  height: 70px;
}
.moc-navbar ul.navbar-nav li a {
  color: #ffffff;
  font-weight: 400;
  padding: 24px 15px;
}
.moc-navbar ul.navbar-nav li a:hover {
  background-color: #f7a86a;
  color: #ffffff;
}
.moc-navbar ul.navbar-nav li.open a.dropdown-toggle {
  background-color: #f7a86a;
  color: #ffffff;
}
.moc-navbar ul.navbar-nav li.open ul.dropdown-menu {
  background-color: #f7a86a;
  color: #ffffff;
  border: none;
}
.moc-navbar ul.navbar-nav li.open ul.dropdown-menu li a {
  padding: 15px 15px;
  color: #ffffff;
}
.moc-navbar ul.navbar-nav li.open ul.dropdown-menu li a:hover {
  background-color: #ffffff;
  color: #f8862c;
}
.moc-container {
  margin-top: 70px;
}
button.moc-btn {
  cursor: pointer;
  background: #ffffff;
  border: 2px solid #f8862c;
  color: #f8862c;
}
button.moc-btn.wide {
  width: 100%;
  text-align: center;
}
button.moc-btn:hover {
  border: 2px solid #f8862c;
  background-color: #f8862c;
  color: #ffffff;
}
/* END OF USER TEMPLATE */
/* USER PAGE */
input.moc-input,
textarea.moc-input {
  color: #f8862c;
  border: 2px solid #f8862c;
  font-size: 17px;
  height: 34px;
  padding: 1px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input.moc-input:focus,
textarea.moc-input {
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid #f7a86a;
}
.page-head {
  padding-top: 55px;
  padding-bottom: 35px;
}
.page-head h2 i {
  color: #f7a86a;
}
.page-head .stats {
  width: 140px;
  float: right;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 10px;
  background-color: #ffd2ae;
}
.page-head .stats .stats-content {
  text-align: right;
  padding: 10px 15px;
}
.page-head .stats .stats-content h4 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 5px;
  color: #4d5965;
}
.page-head .stats .stats-content span {
  color: #f8862c;
}
.page-head .stats:not(:last-of-type) .stats-content {
  border-left: 1px solid #f8862c;
}
.moc-table thead tr th {
  padding: 10px 0;
  border-bottom: 2px solid #f8862c;
}
.moc-table thead tr th h2 {
  margin: 0;
  font-size: 26px;
}
.moc-table thead tr th:nth-of-type(2),
.moc-table thead tr th:nth-of-type(3) {
  width: 100px;
  padding-bottom: 17px;
}
.moc-table thead tr th a {
  color: #4d5965;
  background: #ffffff;
  border: 2px solid #4d5965;
  padding: 6px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.moc-table thead tr th a:hover {
  color: #f8862c;
  text-decoration: none;
}
.moc-table tbody {
  color: #4d5965;
}
.moc-table tbody tr td {
  padding: 20px 0;
  border-bottom: 1px solid #ffd2ae;
}
.moc-table tbody tr td .page-info,
.moc-table tbody tr td .page-icon {
  float: left;
}
.moc-table tbody tr td .page-icon {
  padding-top: 7px;
  width: 65px;
}
.moc-table tbody tr td .page-icon i {
  font-size: 34px;
}
.moc-table tbody tr td .page-icon .label {
  text-transform: uppercase;
  background-color: #f8862c;
  position: absolute;
  margin-top: 14px;
  margin-left: -19px;
}
.moc-table tbody tr td .page-icon .label.disabled {
  background-color: #4d5965;
}
.moc-table tbody tr td .page-info p {
  font-size: 21px;
  margin-bottom: 0;
}
.moc-table tbody tr td .page-info p.disabled {
  text-decoration: line-through;
}
.moc-table tbody tr td .page-info a {
  color: #4d5965;
}
.moc-table tbody tr td .page-info span {
  color: #647587;
}
.moc-table tbody tr td:nth-of-type(2),
.moc-table tbody tr td:nth-of-type(3) {
  padding-top: 28px;
}
.moc-table.single-table .page-info {
  padding-top: 10px;
}
.moc-table.single-table tr.temporary button {
  padding: 6px 23px;
}
.view-container {
  border: 2px solid #f8862c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 30px;
  width: 100%;
}
/* USER FORM */
.current-endpoint {
  color: #647587;
}
.moc-select select {
  color: #f8862c;
  background: transparent;
  font-size: 20px;
  font-weight: 300;
  padding: 2px 10px;
  width: 100%;
  *width: 200px;
  *background: #ffffff;
  border: 2px solid #f8862c;
  -webkit-appearance: none;
}
.moc-select {
  overflow: hidden;
  width: 100%;
}
.moc-select.form-group {
  padding-top: 3px;
}
