@white: #ffffff;
@dirtyWhite: #fefefe;
@orange: #f8862c;
@lightestOrange: #ffd2ae;
@lightOrange: #f7a86a;
@darkOrange: #c66b23;
@darkGray: #4d5965;
@lightGray: #647587;
@lightestGray: #a8b5c2;

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background-color: @white;
  background-position: 50% 90px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: @darkGray;
  font-family: 'Roboto', sans-serif;
}

.ui-container {
  input[type=checkbox] {
    display: none;
  }
  height: 100%;
  width: 100%;
}

/* COMMON COMPONENTS */

.moc-alert {
  border: 1px solid @darkGray;
  background-color: @lightestGray;
  color: @darkGray;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  left:0; top: -3px;
  width: 30px; height: 30px;
  background: @orange;
  border-radius: 50%;
  transition: background-color .2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 26px; height: 26px;
  transition: all .2s;
  border-radius: 50%;
  background: @white;
  top: -1px; left: 2px;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background: @white;
  border: 2px solid @orange;
}
[type="checkbox"]:checked + label:after {
  width: 20px; height: 20px;
  background: @darkGray;
  top: 2px; left: 5px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 30px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  transition: all .2s;
}
[type="checkbox"]:not(:checked) + label .ui:before {
  left: 32px
}
[type="checkbox"]:checked + label .ui:after {
  color: #39D2B4;
}
[type="checkbox"]:focus + label:before {
  border: 1px dashed #777;
  box-sizing: border-box;
  margin-top: -1px;
}

/* END OF COMMON COMPONENTS */



/* LANDING PAGE */


#moc-header {
  width: 100%;
  height: 150px;
  display: block;
  text-align: center;
  background-color: @darkGray;

  #top-line {
    width: 100%;
    height: 4px;
    background-color: @orange;
  }

  #moc-logo {
    width: 167px;
    height: 167px;
    background-image: url("../images/logo.png");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 50px auto;
  }

}

.moc-welcome-section {

  width: 100%;
  height: 480px;
  background-image: url("../images/bg_welcome.png");
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding: 140px 0;

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 20px;
  }

  .divider {
    width: 100px;
    height: 3px;
    background-color: @orange;
    margin: 0 auto;
  }

  .slide-button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 65px auto 0;
    padding: 11px 14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid @orange;
    color: @orange;
    span {
      -webkit-transition: all 1s;
      transition: all 1s;
    }
  }


  .slide-button:hover {
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    margin: 65px auto 0;
    padding: 11px 14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid @orange;

    span {
      color: @darkGray;

      -webkit-transform: rotateZ(360deg); /* Safari */
      transform: rotateZ(360deg);

      -webkit-transition: all 1s;
      transition: all 1s;
    }


  }

}

.moc-register-section {

  padding: 40px 0;

  p {
    font-size: 19px;
    line-height: 2.0;
  }

  p.checkbox {
    font-size: 14px;
    font-weight: bold;
  }

  input[type="text"], input[type="password"] {
    color: @orange;
    font-size: 19px;
    height: 40px;
  }

  input[type="text"]:focus, input[type="password"]:focus {
    -webkit-box-shadow: 0px 0px 5px 0px @orange;
    -moz-box-shadow: 0px 0px 5px 0px @orange;
    box-shadow: 0px 0px 5px 0px @orange;
    border: 1px solid @lightOrange;
  }

  button {
    border: 2px solid @orange;
    color: @orange;
  }

  button:hover {
    border: 2px solid @orange;
    background-color: @orange;
    color: @white;
  }
}

.moc-footer {
  width: 100%;
  height: 130px;
  padding: 40px;
  color: @lightGray;
  display: block;
  text-align: center;
  background-color: @darkGray;
}

/* END OF LANDING PAGE */


/* LOGIN & REGISTER SCREEN */

.moc-login-container {
  text-align: center;
  
  .moc-login-head {
      width: 138px;
      height: 136px;
      margin: 50px auto 30px;
      background-image: url("../images/identity.png");
  }

  .moc-login {
    width: 410px;
    min-height: 100px;
    margin: 0 auto;
    padding: 30px 60px 50px 60px;
    background-color: @orange;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: @white;
    font-weight: 300;

    .separator {
      margin: 0 auto;
      .divider {
        float: left;
        margin-top: 10px;
        background-color: @white;
        height: 1px;
        width: 120px;
      }
      span {
        float: left;
        margin: 0 10px 0 10px;
      }
    }

    h3 {
      font-weight: 300;
      clear: both;
    }

    h3:last-of-type {
      margin-bottom: 40px;
    }

    .login-form {

      span.register {
        color: @lightestOrange;
        text-align: left;
        float: left;
        cursor: pointer;
        padding-bottom: 10px;
      }

      button {
        width: 100%;
        background-color: @white;
        color: @darkGray;
        text-transform: uppercase;
      }

      button, input[type="text"], input[type="password"] {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: none;
      }

      input[type="text"], input[type="password"] {
        box-shadow: none;
        background-color: @lightOrange;
        text-align: center;
        color: @white;
      }
      input::-webkit-input-placeholder {
        color: @lightestOrange;
      }
      input:-moz-placeholder {
        color: @lightestOrange;
      }
      input::-moz-placeholder {
        color: @lightestOrange;
      }
      input:-ms-input-placeholder {
        color: @lightestOrange;
      }

      button:target, input[type="text"]:focus, input[type="password"]:focus {
        box-shadow: none;
        border: 1px solid @darkOrange;
      }

      .moc-alert {
        background-color: @white;
        border: 2px solid @darkOrange;
        color: @darkGray;
      }

    }


  }



}


/* END OF LOGIN & REGISTER SCREEN */


/* USER TEMPLATE */
.moc-navbar {
  height: 70px;
  background-color: @orange;
  .navbar-brand {
    padding: 8px 0;
  }

  .navbar-header, .navbar-collapse {
    height: 70px;
  }

  ul.navbar-nav {
    li {
      a {
        color: @white;
        font-weight: 400;
        padding: 24px 15px;
      }

      a:hover {
        background-color: @lightOrange;
        color: @white;
      }

      &.open {
        a.dropdown-toggle {
          background-color: @lightOrange;
          color: @white;
        }
        ul.dropdown-menu {
          background-color: @lightOrange;
          color: @white;
          border: none;
          li {
            a {
              padding: 15px 15px;
              color: @white;
              &:hover {
                background-color: @white;
                color: @orange;
              }
            }
          }
        }
      }
    }

  }

}

.moc-container {
  margin-top: 70px;
}

button.moc-btn {
  cursor: pointer;
  background: @white;
  border: 2px solid @orange;
  color: @orange;
  &.wide {
    width: 100%;
    text-align: center;
  }
}

button.moc-btn:hover {
  border: 2px solid @orange;
  background-color: @orange;
  color: @white;
}

/* END OF USER TEMPLATE */

/* USER PAGE */

input.moc-input, textarea.moc-input {
  color: @orange;
  border: 2px solid @orange;
  font-size: 17px;
  height: 34px;
  padding: 1px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input.moc-input:focus, textarea.moc-input {
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid @lightOrange;
}

.page-head {
  padding-top: 55px;
  padding-bottom: 35px;
  h2 {
    i {
      color: @lightOrange;
    }
  }

  .stats {
    width: 140px;
    float: right;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px;
    background-color: @lightestOrange;
    .stats-content {
      text-align: right;
      padding: 10px 15px;
      h4 {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 5px;
        color: @darkGray;
      }
      span {
        color: @orange;
      }
    }
    &:not(:last-of-type) {
      .stats-content {
        border-left: 1px solid @orange;
      }
    }
  }
}

.moc-table {
  thead {
    tr {
      th {
        h2 {
          margin: 0;
          font-size: 26px;
        }
        padding: 10px 0;
        border-bottom: 2px solid @orange;
        &:nth-of-type(2), &:nth-of-type(3) {
          width: 100px;
          padding-bottom: 17px;
        }
        a {
          color: @darkGray;
          background: @white;
          border: 2px solid @darkGray;
          padding: 6px 12px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          &:hover {
            color: @orange;
            text-decoration: none;
          }
        }
      }
    }
  }

  tbody {
    color: @darkGray;
    tr {
      td {
        padding: 20px 0;
        border-bottom: 1px solid @lightestOrange;
        .page-info, .page-icon {
          float: left;
        }
        .page-icon {
          padding-top: 7px;
          width: 65px;
          i {
            font-size: 34px;
          }
          .label {
            text-transform: uppercase;
            background-color: @orange;
            position: absolute;
            margin-top: 14px;
            margin-left: -19px;
            &.disabled {
              background-color: @darkGray;
            }
          }
        }
        .page-info {
          p {
            font-size: 21px;
            margin-bottom: 0;
            &.disabled {
              text-decoration: line-through;
            }
          }
          a {
            color: @darkGray;
          }
          span {
            color: @lightGray;
          }
        }

        &:nth-of-type(2), &:nth-of-type(3) {
          padding-top: 28px;
        }
      }
    }
  }


  &.single-table {
    .page-info {
        padding-top: 10px;
    }

    tr.temporary {
      button {
        padding: 6px 23px;
      }
    }
  }
}
.view-container {
  border: 2px solid @orange;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 30px;
  width: 100%;

}

/* USER FORM */

.current-endpoint {
  color: @lightGray;
}

.moc-select select {
  color: @orange;
  background: transparent;
  font-size: 20px;
  font-weight: 300;
  padding: 2px 10px;
  width: 100%;
  *width: 200px;
  *background: @white;
  border: 2px solid @orange;

  -webkit-appearance: none;
}

.moc-select {
  overflow:hidden;
  width:100%;

  &.form-group {
    padding-top: 3px;
  }

}
