<div class="container">
    <div class="row page-head">
        <div class="col-md-5">
            <h2>
                <i class="fa fa-files-o"></i>
                Page List
            </h2>
        </div>
        <div class="col-md-7">
            <div class="stats">
                <div class="stats-content">
                    <h4>834</h4>
                    <span>requests</span>
                </div>
            </div>
            <div class="stats">
                <div class="stats-content">
                    <h4>19</h4>
                    <span>endpoints</span>
                </div>
            </div>
            <div class="stats">
                <div class="stats-content">
                    <h4>4</h4>
                    <span>projects</span>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <table class="table moc-table" ng-repeat="project in projects">
            <thead>
              <tr>
                  <th><h2>{{project.name}}</h2></th>
                  <th></th>
                  <th>
                      <a ui-sref="user.endpoints-create">
                          <i class="fa fa-plus"></i> Page
                      </a>
                  </th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="endpoint in project.endpoints">
                    <td>
                        <div class="page-icon">
                            <i class="fa fa-file-o"></i>
                            <span class="label label-default" ng-class="{disabled : endpoint.isDisabled}">{{endpoint.HttpMethod}}</span>
                        </div>
                        <div class="page-info">
                            <p ng-class="{disabled : endpoint.isDisabled}"><a ng-href="http://mockrest.azurewebsites.net/execute/{{endpoint.Link}}" target="_blank">{{endpoint.Link}}</a></p>
                            <span>{{endpoint.Description}}</span>
                        </div>
                    </td>
                    <td>
                        <button class="btn moc-btn" ui-sref='user.endpoints-edit({endpointId: endpoint.Link})'>
                            <i class="fa fa-cog"></i>
                            Settings
                        </button>
                    </td>
                    <td>
                        <button class="btn moc-btn" ui-sref='user.history({endpointId: endpoint.Link})'>
                            <i class="fa fa-list-alt"></i>
                            Logs
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>