<div class="container">
    <div class="row page-head">
        <div class="col-md-5">
            <h2>
                <i class="fa fa-cog"></i>
                Page Settings
            </h2>
           <h5 class="current-endpoint">{{currentEndpoint.Link}}</h5>
        </div>
    </div>

        <div class="row">
            <form ng-submit="updatePage()">

                <div class="col-sm-4">

                    <p class="checkbox"><input type="checkbox" id="isEnabled" ng-model="currentEndpoint.IsEnabled"/>
                        <label for="isEnabled"><span class="ui"></span>Enabled</label>
                    </p>
                    <br/>
                    <p class="checkbox"><input type="checkbox" id="isStatic" ng-model="currentEndpoint.IsStaticContent"/>
                        <label for="isStatic"><span class="ui"></span>Dynamic Content (JS)</label>
                    </p>
                    <br/>

                        <div class="form-group">
                            <label for="statusNumber">Status</label>
                            <input type="number" class="form-control moc-input" id="statusNumber" ng-model="currentEndpoint.HttpStatus">
                        </div>

                    <div class="form-group">
                        <label for="delay">Delay in seconds</label>
                        <input type="number" class="form-control moc-input" id="delay" ng-model="currentEndpoint.DelayMs">
                    </div>

                        <div class="moc-select form-group">
                            <label for="project">Project</label><br/>
                            <select id="project" ng-model="currentEndpoint.ProjectId" ng-options="project.Id as project.Name for project in projects">
                            </select>
                        </div>

                        <div class="moc-select form-group">
                            <label for="project">Method</label><br/>
                            <select id="method" ng-model="currentEndpoint.HttpMethod">
                                <option>get</option>
                                <option>post</option>
                                <option>put</option>
                                <option>delete</option>
                            </select>
                        </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control moc-input" id="description" ng-model="currentEndpoint.Description">
                    </div>

                    <div class="form-group" ng-show="securedPage">
                        <label for="token">AuthToken</label>
                        <input type="text" class="form-control moc-input" id="token" ng-model="currentEndpoint.AuthToken">
                    </div>
                    <p class="checkbox"><input type="checkbox" id="isSecured" ng-model="securedPage"/>
                        <label for="isSecured"><span class="ui"></span>Secured Page</label>
                    </p>


                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea id="content" class="form-control description" rows="12" ng-model="currentEndpoint.Content"></textarea>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <button type="submit" class="btn moc-btn wide">Save</button>
                        </div>
                    </div>
                    <br/>
                    <div class="row" ng-show="isSaved">
                        <div class="col-md-6">
                            <button ui-sref="user.endpoints-list" class="btn moc-btn wide">Page List</button>
                        </div>
                        <div class="col-md-6">
                            <button ng-click="testReq()" class="btn moc-btn wide">Test Request</button>
                        </div>
                    </div>



                </div>
            </form>
        </div>

</div>