<div class="container">
    <div class="row page-head">
        <div class="col-md-5">
            <h2>
                <i class="fa fa-files-o"></i>
                My Projects
            </h2>
        </div>
        <div class="col-md-7">
            <div class="stats">
                <div class="stats-content">
                    <h4>834</h4>
                    <span>requests</span>
                </div>
            </div>
            <div class="stats">
                <div class="stats-content">
                    <h4>19</h4>
                    <span>endpoints</span>
                </div>
            </div>
            <div class="stats">
                <div class="stats-content">
                    <h4>4</h4>
                    <span>projects</span>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <table class="table moc-table single-table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <a ng-click="addNow()">
                            <i class="fa fa-plus"></i> Project
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr class="temporary" ng-show="showAdd">
                    <td>
                        <form ng-submit="addProject()">
                            <div class="page-info">
                                <input class="moc-input" type="text" ng-model="newProject" placeholder="Enter project name">
                            </div>
                        </form>
                    </td>
                    <td>
                        <button class="btn moc-btn" type="submit" ng-model="newProject2" ng-click="addProject()">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                    </td>
            </tr>
               <tr ng-repeat="project in projects">
                   <td>
                       <div class="page-info">
                           <p>{{project.Name}}</p>
                       </div>

                   </td>
                   <td>
                       <button class="btn moc-btn">
                           <i class="fa fa-pencil"></i>
                           Rename
                       </button>
                   </td>
               </tr>
            </tbody>
        </table>

    </div>
</div>