<div id="moc-header">
    <div id="top-line"></div>
    <div id="moc-logo"></div>
</div>

<div class="moc-welcome-section">
    <h1>Mock your API</h1>
    <div class="divider"></div>
    <h3>at the drop of a hat</h3>


    <div class="slide-button" ng-click="goToRegister()">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </div>

</div>


<div class="moc-register-section container" ng-controller="RegisterCtrl" id="register">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h1>Mock, Mock!</h1>
            <h3>Who's there?!</h3>
            <p>
                MockifiedPost is a simple configurable service to mock out RESTful API web-services. This online service allows you to quickly define REST API endpoints.
            </p>

            <p>
                Just register and start mocking your API.
            </p>

            <p>
                Already have an username?
                <button type="submit" class="btn btn-default" ui-sref="app.login">Log in</button>
            </p>
        </div>
        <div class="col-xs-12 col-md-6">
            <h1>Register</h1>
            <form novalidate="" ng-submit="createUser()">

                <div class="alert alert-danger moc-alert" role="alert" ng-if="formError.userExists || formError.dontMatch">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span ng-if="formError.userExists">Username already taken!</span>
                    <span ng-if="formError.dontMatch">Passwords do not match!</span>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="username" ng-model="newUser.user">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="password" ng-model="newUser.password">
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="password" ng-model="newUser.password2">
                </div>

                <p class="checkbox"><input type="checkbox" id="logme" ng-model="newUser.logmein"/>
                    <label for="logme"><span class="ui"></span>Log me in</label>
                </p>
                <button type="submit" class="btn btn-default pull-right">Register</button>
            </form>

        </div>
    </div>
</div>

<div class="moc-footer">
    <p>&copy; 2015 MockifiedPost - All rights reserved</p>
    <span>An UnifiedPost production</span>

</div>
