<div class="container">
    <div class="row page-head">
        <div class="col-md-5">
            <h2>
                <i class="fa fa-list-alt"></i>
                Page Logs
            </h2>
        </div>
        <div class="col-md-7">
            <div class="stats">
                <div class="stats-content">
                    <h4>19</h4>
                    <span>API calls</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <table class="table moc-table" >
            <thead>
            <tr>
                <th><h2>{{project.name}}</h2></th>
                <th></th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entry in logs">
                <td>
                    <div class="page-icon">
                        <i class="fa fa-square-o"></i>
                    </div>
                    <div class="page-info">
                        <p ng-class="{disabled : endpoint.isDisabled}">{{entry.TimeStamp |  date:'medium'}}</p>
                        <span>STATUS: {{entry.HttpStatus}}</span>
                    </div>
                </td>
                <td>
                        <i class="fa fa-clock-o"></i>
                        {{entry.ExecTimeMs*1000}} sec
                </td>
                <td>
                    <button class="btn moc-btn" ui-sref='user.history-details({historyId: entry.Id})'>
                        <i class="fa fa-list-alt"></i>
                        Details
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>