<div class="container">
    <div class="row page-head">
        <div class="col-md-5">
            <h2>
                <i class="fa fa-cog"></i>
                Log Details
            </h2>
            <h5 class="current-endpoint">{{currentEndpoint.Link}}</h5>
        </div>
    </div>

    <div class="row">


        <div class="col-sm-5">
            <h5>Response</h5>
            <div class="view-container">
                {{log.ResponseText}}
            </div>

        </div>
<br/>
        <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <td>Request URL</td>
                        <td>{{log.RequestUrl}}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{log.TimeStamp | date:'medium'}}</td>
                    </tr>
                    <tr>
                        <td>Duration</td>
                        <td>{{log.ExecTime}}</td>
                    </tr>
                    <tr>
                        <td>STATUS</td>
                        <td>{{log.HttpStatus}}</td>
                    </tr>
                    <tr>
                        <td>Request Headers</td>
                        <td>
                           <table>
                               <tr ng-repeat="header in log.RequestHeaders">
                                   <td>
                                       <b>{{header.Key}}</b>
                                   </td>
                                   <td>
                                       {{header.Value}}
                                   </td>
                               </tr>
                           </table>
                        </td>
                    </tr>

                    <tr>
                        <td>Response Headers</td>
                        <td>
                            <table>
                                <tr ng-repeat="header in log.ResponseHeaders">
                                    <td>
                                        {{header.Key}}
                                    </td>
                                    <td>
                                        {{header.Value}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>


            </div>

    </div>

</div>