<div class="container">
    <div class="row">
        <div class="col-xs-12 moc-login-container">

            <div class="moc-login-head"> </div>
            <div class="moc-login">
                <h3>Sign in</h3>
                <div class="separator">
                    <div class="divider"></div>
                    <span>and</span>
                    <div class="divider"></div>
                </div>
                <h3>start "mocking"!</h3>



                <form class="login-form" novalidate="" ng-submit="login()">
                    <div class="alert alert-danger moc-alert" role="alert" ng-if="formError.invalid || formError.userNotExists">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span ng-if="formError.invalid">Invalid credentials!</span>
                        <span ng-if="formError.userNotExists">Username doesn't exists!</span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" placeholder="username" ng-model="loginData.user">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="password" ng-model="loginData.password">
                    </div>
                    <span class="register" ui-sref="app.register">New user?</span>
                    <br/>
                    <button type="submit" class="btn btn-default">Sign in</button>
                </form>



            </div>

        </div>
    </div>
</div>