<div ng-if="user">
<nav class="navbar navbar-default navbar-fixed-top moc-navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="MockifiedPost" src="../images/navbar_logo.png">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="user.endpoints-create">
                        <i class="fa fa-plus"></i>
                        Add Page
                    </a>
                </li>
                <li><a ui-sref="user.endpoints-list">Pages</a></li>
                <li><a ui-sref="user.projects">Projects</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> {{user}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="logout()">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div>
</nav>

<div class="ui-container moc-container" ui-view></div>

</div>

<div ng-if="!user">
    <div ng-include="'views/sign/login.html'"></div>
</div>